.bar a{
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
nav{
    background-color: #b3e9c8;
    overflow: hidden;
    grid-row: 2;
    grid-column: 1/4;
}
.title{
    text-align: auto;
    grid-row: 1;
    grid-column: 1/4;
}
.formular{
    grid-row: 3;
}
.titleinput{
    text-align-last: left;
}
.contentinput{
    text-align: center;
    width: 100%;
}

.wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50px, 30px, 30px, auto;
    grid-template-rows: 50px, 20px, auto;    
}
.error-box {
    color: red;
    background-color: rgb(250, 220, 220);
    border: 1px solid red;
    border-radius: 10px;
    padding-top: 10px;
}
.title1{
    
    grid-column: 1;
}
.author1{
    
    grid-column: 2;
}
.date1{
    
    grid-column: 3;
}
.content1{
    
    grid-column: 1/4;
}
hr { 
    grid-column: 1/4;
    width: 100%; 
    color: #b3e9c8;
    
}
.links{
    grid-row: 3;
    
}
.name{
    grid-column: 1;
    overflow: hidden;
    text-decoration: none;
    color: #000000;
}
.link{
    grid-column: 3;
}
.picture{
    height: 180px;
    width: auto;
}
.topbutton{
    grid-row: 1;
    grid-column: 3;
    margin-left: 30px;
    height: 50px;
    width: 90px;
}